* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  padding: 1rem;
}
body {
  margin: 0 auto;
  max-width: 70ch;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}
