.Heading_heading__YUsIL {
  line-height: 1;
}
h1.Heading_heading__YUsIL {
  font-size: 2.8rem;
}
h2.Heading_heading__YUsIL {
  font-size: 2.5rem;
}
h3.Heading_heading__YUsIL {
  font-size: 2.2rem;
}
h4.Heading_heading__YUsIL {
  font-size: 1.9rem;
}
h5.Heading_heading__YUsIL {
  font-size: 1.6rem;
}
h6.Heading_heading__YUsIL {
  font-size: 1.3rem;
}
.Section_section__hbEMX > :not(:last-child) {
  margin-bottom: 1rem;
}
.List_list__zDYmJ {
  counter-reset: item;
  list-style: none;
}
.List_ordered__vQCaL li:before {
  content: counters(item, '.') ' ';
  counter-increment: item;
}
.Link_link__aNRlY {
  color: blue;
}
.Link_link__aNRlY:hover {
  color: green;
}
.TableOfContentsItem_subsections__d2QsW {
  margin-left: 1rem;
}
