.heading {
  line-height: 1;
}

h1.heading {
  font-size: 2.8rem;
}

h2.heading {
  font-size: 2.5rem;
}

h3.heading {
  font-size: 2.2rem;
}

h4.heading {
  font-size: 1.9rem;
}

h5.heading {
  font-size: 1.6rem;
}

h6.heading {
  font-size: 1.3rem;
}
